/* Reset */
* {
  margin: 0;
  border: 0;
}

/* Body */
body {
  font-family: "Montserrat", sans-serif;
}

/* Header */

header {
  background-color: #333;
}

header h1 {
  display: inline-block;
  color: #fff;
  padding: 15px;
}

header nav {
  float: right;
}

nav ul li {
  display: inline;
  list-style: none;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  padding: 23px;
}

nav ul li a:hover {
  background-color: #595959;
}

/* Main */

main {
  background-color: #e5d3b8;
}
/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 15px;
}
