/* Reset */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* Variables for colors */
:root {
  --white: #f5f5f5;
  --light-blue: #17d8d8;
  --medium-blue: #4da8da;
  --dark-blue: #007cc7;
  --darkest-blue: #203647;
  --light-green: #148d8d;
}

html {
  scroll-behavior: smooth;
}

/* Body */
body {
  font-family: "Work Sans", sans-serif;
  background: var(--light-green);
  font-size: 17px;
}

/* Utility Classes */
.section-heading {
  display: inline;
  color: var(--light-green);
  font-weight: bold;
  text-align: center;
  padding: 1px;
}

.section-heading h2 {
  background: var(--darkest-blue);
  width: fit-content;
  border-radius: 7px;
  font-size: 24px;
  margin: 0 auto;
  padding: 6px;
}

/* Navigation bar / Header */

header {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 85%);
}

nav ul {
  display: flex;
  margin-top: 10px;
  padding: 0;
}

nav ul li {
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: var(--white);
  padding: 30px;
  font-weight: 600;
  font-size: 18px;
}

nav ul li a:hover {
  color: var(--light-blue);
  background-color: rgba(0, 49, 82, 30%);
  border-radius: 15px;
}

/* Hero/Jumbotron */

.hero {
  display: flex;
  justify-content: space-evenly;
  height: 500px;
  background: #144661;
}

.hero-heading {
  align-self: center;
}

.hero-heading p,
.hero-heading h1 {
  font-family: "Montserrat", sans-serif;
  color: var(--light-blue);
  font-size: 35px;
  padding: 5px 0 5px 30px;
  font-weight: bold;
  text-align: center;
}

.hero-heading h1 {
  font-size: 85px;
  text-shadow: 1px 1px 9px var(--light-blue);
}

/* About Me Section */

.about-flex {
  display: flex;
}
.about-me {
  background: var(--medium-blue);
  line-height: 1.7;
  padding: 20px;
}

.about-me p {
  text-align: center;
  padding: 20px;
}

.about-me ul {
  margin: 15px 10px;
}

.about-me ul li {
  list-style-type: none;
}
.about-me ul li::before {
  content: "➡ ";
  padding: 10px;
}

.facts {
  margin: 20px auto;
  background: var(--light-green);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(3, 0, 86, 0.8);
  outline: none;
  padding: 10px;
}

.mediaquery {
  visibility: hidden;
}

.personal-picture {
  background: linear-gradient(
      -55deg,
      var(--light-green) 50%,
      rgba(0, 0, 0, 0) 30%
    ),
    var(--medium-blue);
}

.personal-picture div {
  display: flex;
}

.personal-picture img {
  height: 525px;
}

/* Work Section*/

.work-section {
  background-color: var(--darkest-blue);
}

/* Work Section 1 */
.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.flex-columns img:hover {
  opacity: 1;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
  background: var(--light-green);
  color: var(--white);
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}

.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}
.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

/* Work Section 2 and 3 */
.item-1,
.item-3,
.item-5 {
  background: var(--medium-blue);
}

.item-2,
.item-4,
.item-6 {
  background: var(--dark-blue);
}

.flex-container-1,
.flex-container-2 {
  display: flex;
}

.work-item {
  flex: 1;
}

.work-item h3 {
  padding: 10px;
  color: var(--white);
  background: var(--darkest-blue);
  margin: 10px auto;
  width: fit-content;
  border-radius: 7px;
  font-size: 18px;
}

.work-img {
  display: flex;
  justify-content: center;
}

.work-img img {
  object-fit: contain;
  height: 200px;
  border-radius: 20px;
  opacity: 0.8;
}

.work-img img:hover {
  opacity: 1;
}

.work-item p {
  padding: 10px 25px;
  margin: 5px 0;
  line-height: 1.5;
}

/* Contact me */
.contact-me {
  padding: 15px;
}

.contact-me ul {
  display: flex;
  justify-content: center;
}

.contact-me section {
  margin: 0 55px;
}

.contact-me ul li {
  list-style: none;
  margin: 10px 0;
}

.contact-me i {
  display: flex;
  justify-content: center;
  color: var(--white);
}

.contact-me a {
  text-decoration: none;
  color: var(--white);
}

/* Resume Section */

.resume {
  background-color: var(--darkest-blue);
  padding: 15px;
}

.resume p {
  padding: 0 15px 15px 15px;
  text-align: center;
  color: var(--white);
}

/* MEDIA QUERY MAX-WIDTH 950px*/

@media screen and (max-width: 950px) {
  body {
    font-size: 16px;
  }

  /* Media Query: Hero/Jumbotron */
  .hero-heading p {
    font-size: 25px;
  }

  .hero-heading h1 {
    font-size: 65px;
  }

  .personal-picture {
    background: linear-gradient(
        -63deg,
        var(--light-green) 50%,
        rgba(0, 0, 0, 0) 30%
      ),
      var(--medium-blue);
    display: flex;
    align-items: flex-end;
  }

  .personal-picture img {
    height: 350px;
  }

  .flex-container-1,
  .flex-container-2 {
    flex-direction: column;
  }
}

/* MEDIA QUERY MAX-WIDTH 768px*/

@media screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }

  .section-heading h2 {
    font-size: 18px;
  }

  nav ul {
    margin-top: 5px;
  }

  nav ul li a {
    padding: 30px 10px;
    font-weight: normal;
    font-size: 16px;
  }

  .hero-heading h1 {
    font-size: 50px;
  }

  .about-me {
    line-height: 1.5;
    padding: 10px;
  }

  .about-me p {
    padding: 5px;
  }

  .about-me ul {
    margin: 5px 5px;
  }

  .personal-picture img {
    height: 200x;
  }

  .flex-columns .column {
    flex: 100%;
    max-width: 100%;
  }

  .column {
    width: 70%;
  }

  .work-item h3 {
    font-size: 16px;
  }

  .work-img img {
    height: 150px;
  }

  .contact-me a {
    text-align: center;
  }
}

/* MEDIA QUERY MAX-WIDTH 575px*/

@media screen and (max-width: 575px) {
  header nav {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    justify-content: center;
  }

  nav ul li a {
    width: 50%;
    padding: 20px;
    font-size: 15px;
  }

  .logo {
    margin-top: 15px;
  }

  nav ul li a:hover {
    color: var(--light-blue);
    background-color: var(--light-green);
    border-radius: 0px;
  }

  nav ul li:hover {
    color: var(--light-blue);
    background-color: var(--light-green);
  }

  .hero-heading p {
    font-size: 20px;
  }

  .hero-heading h1 {
    font-size: 35px;
  }

  .about-flex {
    flex-direction: column;
  }

  .mediaquery {
    visibility: visible;
  }

  .work-item h3 {
    font-size: 14px;
  }

  .contact-me section {
    margin: 0 5px;
  }
}
