/* Reset */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* Variables for colors */
:root {
  --white: #f5f5f5;
  --red: #8b122b;
  --black: #000000;
  --dark-blue: #003152;
}

/* Body */
body {
  font-family: "Open Sans", sans-serif;
  background: var(--white);
  font-size: 18px;
  color: var(--white);
}

/* Utility Classes */

.section-heading {
  font-size: 25px;
  color: var(--white);
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.primary-border {
  border-bottom: 3px solid var(--red);
  margin: 0 auto 35px auto;
  width: 20%;
}

.secondary-border {
  border-bottom: 3px solid var(--red);
  margin: 0 auto 15px auto;
}

.bg-light {
  background: rgba(78, 120, 160, 0.4);
}

.bg-dark {
  background: rgba(44, 81, 151, 0.3);
}

/* Navigation bar / Header */

header {
  display: flex;
  justify-content: center;
  background: var(--black);
}

header nav {
  display: flex;
}

nav ul {
  display: flex;
  margin-top: 10px;
}

nav ul li {
  display: flex;
}

nav ul li a {
  align-self: center;
  text-decoration: none;
  color: #fff;
  padding: 20px;
  font-weight: 600;
}

nav ul li a:hover {
  color: var(--red);
  background-color: rgba(0, 49, 82, 30%);
  border-radius: 15px;
}

/* Hero/Jumbotron */

.hero {
  display: flex;
  justify-content: space-evenly;
  background: var(--black);
}

.main-heading {
  margin: 80px 0 20px 30px;
}

.main-heading p,
.main-heading h1 {
  color: var(--white);
  font-size: 35px;
  padding: 5px 0 5px 30px;
  font-weight: bold;
}

.main-heading h1 {
  font-size: 70px;
  color: var(--red);
  text-shadow: 2px 2px 5px #414a4c;
}

.portfolio-picture {
  background: url("../images/hero-img.jpg") no-repeat;
  width: 500px;
  height: 400px;
}

/* About Me Section */

.about-me {
  background-color: var(--black);
  padding: 20px;
  margin: 15px 0;
  line-height: 1.7;
}

.about-me p {
  text-align: center;
}

.about-me ul {
  margin: 15px 10px;
}

.about-me ul li {
  list-style-type: none;
}
.about-me ul li::before {
  content: "➡ ";
  color: var(--red);
  padding: 10px;
}

.facts {
  margin: 20px auto;
  background: rgba(156, 172, 191, 70%);
  width: 900px;
  border-radius: 15px;
  border: 2px solid var(--dark-blue);
  box-shadow: 0 0 10px rgba(3, 0, 86, 0.8);
  outline: none;
  padding: 10px;
}

/* Work Section*/

.work-section {
  background-color: var(--black);
  line-height: 1.8;
  padding: 20px 0;
}

.flex-container {
  display: flex;
}

.flex-item {
  padding: 20px 0;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 30px rgba(3, 0, 86, 0.8);
  border-radius: 15px;
}

.flex-item img {
  align-self: center;
  margin: 15px;
  border: 2px solid var(--dark-blue);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(91, 144, 246, 0.6);
}

.flex-item h3 {
  text-align: center;
  padding: 10px;
  color: var(--white);
}

.flex-item p {
  padding: 0 25px 15px 25px;
}

/* Contact Me Section */

.contact-me {
  background-color: var(--black);
  padding: 15px;
  margin: 15px 0;
}

.contact-me section {
  margin: 0 55px;
}

.contact-me ul {
  display: flex;
  justify-content: center;
}

.contact-me ul li {
  list-style: none;
  margin: 10px 0;
}

.contact-me i {
  display: flex;
  justify-content: center;
  color: var(--white);
}

.contact-me a {
  text-decoration: none;
  color: var(--white);
}

/* Resume Section */

.resume {
  background-color: var(--black);
  padding: 15px;
}

.resume p {
  padding: 0 15px 15px 15px;
  text-align: center;
  color: var(--white);
  font-size: 20px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 1100px) {
  .main-heading h1 {
    font-size: 50px;
  }

  .flex-container {
    flex-wrap: wrap;
  }

  .portfolio-picture {
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .flex-item {
    margin: 20px 35px;
  }
}

@media screen and (max-width: 950px) {
  .main-heading {
    margin: 20px;
  }

  .main-heading h1 {
    font-size: 45px;
  }

  .main-heading p {
    font-size: 25px;
  }
  .portfolio-picture {
    background-size: cover;
    width: 250px;
    height: auto;
  }

  .facts {
    width: 700px;
    padding: 10px 0;
  }

  .section-heading {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  nav ul li a {
    padding: 10px;
  }
  .main-heading p {
    font-size: 18px;
  }

  .main-heading h1 {
    font-size: 30px;
  }

  .portfolio-picture {
    background-size: cover;
    width: 250px;
    height: 250px;
  }

  .facts {
    width: 500px;
    padding: 10px 0;
  }

  .section-heading {
    width: 40%;
  }
}

@media screen and (max-width: 575px) {
  /* Utility Classes */
  .section-heading {
    width: 40%;
    font-size: 18px;
  }

  /* Navigation */
  nav ul li a {
    padding: 5px;
    text-align: center;
    font-weight: normal;
  }

  nav ul img {
    width: 60px;
  }

  /* Hero/ Jumbotron */
  .main-heading p {
    font-size: 15px;
  }

  .main-heading h1 {
    font-size: 20px;
  }

  .portfolio-picture {
    background-size: cover;
    width: 200px;
    height: 200px;
  }

  /* About Me Section */
  .facts {
    width: 100%;
    padding: 10px 0;
  }

  .section-heading {
    width: 40%;
    font-size: 18px;
  }

  .flex-item img {
    width: 50%;
  }

  /* Contact me Section */
  .contact-me section {
    margin: 0 25px;
  }

  .contact-me ul li {
    text-align: center;
  }
}
