/* Reset */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Open Sans", sans-serif;
  background: #003152;
  font-size: 18px;
}

/* Utility Classes */

.section-heading {
  font-size: 25px;
  color: #8b122b;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: 15px 0;
}

.primary-border {
  border-bottom: 3px solid #032e42;
  margin: 0 auto 35px auto;
  width: 20%;
}

.bg-light {
  background: #6689a2;
}

.bg-dark {
  background: #4a6d85;
}

/* Header */

header {
  display: flex;
  justify-content: center;
  background: #000000;
}

.logo {
  color: #748a9e;
}
header nav {
  display: flex;
}

nav ul {
  display: flex;
  margin-top: 10px;
}

nav ul li {
  display: flex;
}

nav ul li a {
  display: flex;
  align-self: center;
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 20px;
  font-weight: 600;
}

nav ul li a:hover {
  color: #8b122b;
  background-color: rgba(0, 49, 82, 30%);
  border-radius: 15px;
}

/* Hero/Jumbotron */

.hero {
  display: flex;
  justify-content: space-evenly;
  background: #000000;
  height: 450px;
  width: 100%;
}

.main-heading {
  margin: 80px 0 20px 30px;
}

.main-heading p,
.main-heading h1 {
  color: #fff;
  font-size: 35px;
  padding: 5px 0 5px 30px;
  font-weight: bold;
}

.main-heading h1 {
  font-size: 75px;
  font-family: "Open Sans", sans-serif;
  color: #8b122b;
  text-shadow: 2px 2px 10px #414a4c;
}

.portfolio-picture {
  display: flex;
  background: url("../images/hero-img.jpg");
  width: 600px;
  height: 450px;
}

/* About Me Section */

.about-me {
  background-color: #2b6684;
  padding: 20px;
  margin: 15px 0;
  line-height: 1.7;
}

.facts {
  display: flex;
  margin: 20px auto;
  background: rgba(156, 172, 191, 70%);
  width: 900px;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #032e42;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  outline: none;
}

.about-me p {
  margin: 0 40px;
  text-align: center;
}

.about-me ul {
  margin: 15px 10px;
}

.about-me ul li {
  list-style-type: none;
}
.about-me ul li::before {
  content: "➡ ";
  color: #8b122b;
}

/* Work Section*/

.work-section {
  background-color: #fcfcfc;
  line-height: 1.8;
  padding: 20px 0;
  margin: 15px 0;
}

.flex-container {
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}

.flex-item {
  padding: 20px 0;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
}

.flex-item img {
  align-self: center;
  margin: 15px;
  border: 2px solid #003152;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.flex-item p {
  padding: 0 15px 15px 15px;
}

/* Contact Me Section */

.contact-me {
  background-color: #2b6684;
  padding: 15px;
  margin: 15px 0;
  line-height: 1.7;
}

.contact-me ul {
  display: flex;
  justify-content: center;
}

.contact-me ul li {
  list-style: none;
  margin: 10px 0;
}

.contact-me i {
  display: flex;
  justify-content: center;
  color: #e4feff;
}

.contact-me a {
  text-decoration: none;
  color: #003152;
  font-weight: 500;
}

.contact-me section {
  margin: 0 55px;
}

/* Resume Section */

.resume {
  background-color: #2b6684;
  padding: 15px;
  line-height: 1.7;
}

.resume p {
  padding: 0 15px 15px 15px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
