/* MEDIA QUERY MAX-WIDTH 1100px*/

@media screen and (max-width: 1100px) {
  /* Media Query: Hero/Jumbotron */
  .hero-heading h1 {
    font-size: 50px;
  }

  .flex-container {
    flex-wrap: wrap;
  }

  .portfolio-picture {
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  /* Media Query: Work Section */
  .flex-item {
    margin: 20px 35px;
  }
}

/* MEDIA QUERY MAX-WIDTH 950px*/

@media screen and (max-width: 950px) {
  body {
    font-size: 16px;
  }

  /* Media Query: Hero/Jumbotron */
  .hero-heading p {
    font-size: 25px;
  }

  .hero-heading h1 {
    font-size: 45px;
  }

  .portfolio-picture {
    width: 250px;
    height: auto;
  }

  /* Media Query: About Me */
  .facts {
    width: 700px;
    padding: 10px 0;
  }

  .section-heading {
    width: 30%;
    font-size: 18px;
  }
}

/* MEDIA QUERY MAX-WIDTH 768px*/

@media screen and (max-width: 768px) {
  /* Media Query: Navigation bar / Header */
  nav ul li a {
    padding: 10px;
  }

  /* Media Query: Hero/ Jumbotron */
  .hero-heading p {
    font-size: 18px;
  }

  .hero-heading h1 {
    font-size: 30px;
  }

  .portfolio-picture {
    height: 250px;
  }

  /* Media Query: About Me */
  .facts {
    width: 500px;
  }
}

/* MEDIA QUERY MAX-WIDTH 575px*/

@media screen and (max-width: 575px) {
  /* Media Query: Navigation bar / Header */
  nav ul li a {
    padding: 5px;
    text-align: center;
    font-weight: normal;
  }

  nav ul img {
    width: 60px;
  }

  /* Media Query: Hero/ Jumbotron */
  .hero-heading p {
    font-size: 15px;
  }

  .hero-heading h1 {
    font-size: 20px;
  }

  .portfolio-picture {
    /* background-size: cover; */
    width: 200px;
    height: 200px;
  }

  /* Media Query: About Me Section */
  .facts {
    width: 100%;
    padding: 10px 0;
  }

  .flex-item img {
    width: 50%;
  }

  /* Media Query: Contact me Section */
  .contact-me section {
    margin: 0 25px;
  }

  .contact-me ul li {
    text-align: center;
  }
}
